In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

path = '/mnt/d/Documents/summary_avg_bd.csv'
df = pd.read_csv(path, index_col=0)
df['mean_age'] = df['mean_age']/8760 # Convert hours to years
df.head()

,Study_Site,Experiment,Time_Step,Species,mean_mass,num_agents,mean_age,mean_body_temp
0,Canada,2,old_age,KangarooRat,63.0,2,0.694064,NaN
1,Canada,2,old_age,KangarooRat,65.0,1,2.425913,NaN
2,Canada,2,Random,KangarooRat,65.0,1,0.201941,NaN
3,Canada,2,Random,KangarooRat,60.0,1,1.393037,NaN
4,Canada,2,Random,KangarooRat,69.0,1,0.039041,NaN

In [ ]:
snake_bd = df[df['species'] == 'Rattlesnake']